
  </main>
  <footer class="container"></footer>

  <!--  
  <div class="sponsor-banner text-center py-4">
    <img src="{{ site.baseurl }}/assets/images/splash_2025_macau.jpg" alt="Our Partners" class="img-fluid">
  </div>
  -->

  <section class="sponsor-banner">
    <div class="sponsor-grid">
      <div class="sponsor-column">
        <h5>Organising Institutions</h5>
        <div class="sponsor-logos">
          <img src="/assets/images/tue-logo.png" alt="TU Eindhoven">
          <img src="/assets/images/jads-logo.png" alt="JADS">
          <img src="/assets/images/uvt-logo.png" alt="Tilburg University">
        </div>
      </div>

      <div class="sponsor-column">
        <h5>Host Institution</h5>
        <div class="sponsor-logos">
          <img src="/assets/images/macau-logo.png" alt="University of Macau">
        </div>
      </div>

      <div class="sponsor-column">
        <h5>Website Hosting</h5>
        <div class="sponsor-logos">
          <img src="/assets/images/jade-lab-logo.png" alt="JADE Lab">
        </div>
      </div>
    </div>
    <br />
    <div class="container text-center">
      BANDIT Workshop 2025
    </div>
  </section>
  
  <footer class="container">
  </footer>  
  </div>

  {%- include partials/modal_link.html -%}

  {%- if site.conference.live.streaming.enable -%}
    {%- include partials/modal_live.html -%}
  {%- endif -%}

  <!-- Append build time to avoid caching of live program embedded in JavaScript file -->
  <script src="{{ site.baseurl }}/assets/js/main.js?t={{ site.time | date: "%s" }}"></script>

</body>
</html>
